[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
jupyter = "*"
abupy = "*"
tushare = "*"
lxml = "*"

[requires]
python_version = "3.6"

[dev-packages]
